<!-- Header -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <h1 class="display-4 text-white mt-5 mb-2">Business Name or Tagline</h1>
                <p class="lead mb-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non
                    possimus ab labore provident mollitia. Id assumenda voluptate earum corporis facere quibusdam
                    quisquam iste ipsa cumque unde nisi, totam quas ipsam.</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>What We Do</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi
                soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat
                explicabo, maiores!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni
                in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate.
                Voluptatum.</p>
            <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Call to
                Action &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contact Us</h2>
            <hr>
            <address>
                <strong>Start Bootstrap</strong>
                <br>3481 Melrose Place
                <br>Beverly Hills, CA 90210
                <br>
            </address>
            <address>
                <abbr title="Phone">P:</abbr>
                (123) 456-7890
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">name@example.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                        necessitatibus neque sequi doloribus.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                        necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://placehold.it/300x200" alt="">
                <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse
                        necessitatibus neque.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Find Out More!</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Modal -->
<div class="modal" id="modal">
    <!-- Modal background -->
    <div class="bg"></div>
    <div class="modal-container">
        <div class="modal-top">
            <i class="fas fa-arrow-left"></i>
            <i class="fas fa-times" id="close"></i>
        </div>
        <div class="modal-body">
            <h2>Create a post</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium necessitatibus omnis, eaque
                ratione sunt commodi.</p>
        </div>
        <div class="modal-form">
            <h3>Campaign Name</h3>
            <input type="text" placeholder="Ex. Get 50% off" autocomplete="off" autofocus>
        </div>

        <div class="cta">
            <button>Continue</button>
            <button>Cancel</button>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="container-full h-full bg-gray-100 flex flex-col items-center justify-center">
                <!-- wrapper   -->
                <div class="wrapper relative w-full relative flex flex-col justify-center items-center ">
                    <!--  signup form  -->
                    <div
                        class="w-11/12 sm:w-11/12 md:w-2/3 lg:w-1/2 p-4 bg-white absolute flex flex-col justify-between border-t-4 border-solid border-purple-500 form inactive-form shadow-2xl rounded">
                        <div class="text-2xl mb-8 text-gray-700 uppercase font-medium tracking-wide">Sign In</div>
                        <form action="#">
                            <div class="flex flex-col mb-4">
                                <label for="signin-username" class="text-gray-600 mb-2 text-xs">Username</label>
                                <div class="relative flex flex-col">
                                    <div
                                        class="absolute inset-y-0 left-0 inline-flex items-center h-8 w-8 m-auto justify-center text-purple-400">
                                        <i class="fas fa-user"></i></div>
                                    <input type="text" name="signin-username"
                                        class="pl-8 text-purple-400 outline-none border border-solid focus:border-purple-400 p-2 rounded-sm" />
                                </div>
                            </div>
                            <div class="flex flex-col mb-4">
                                <label for="signin-password" class="text-gray-600 mb-2 text-xs">Password</label>
                                <div class="relative flex flex-col">
                                    <div
                                        class="absolute inset-y-0 left-0 inline-flex items-center h-8 w-8 m-auto justify-center text-purple-400">
                                        <i class="fas fa-lock"></i></div>
                                    <input type="text" name="signin-password"
                                        class="pl-8 text-purple-400 outline-none border border-solid focus:border-purple-400 p-2 rounded-sm" />
                                </div>

                            </div>
                            <div class="flex justify-center py-2">
                                <button type="submit"
                                    class="bg-purple-500 px-8 py-3 uppercase tracking-widest text-sm rounded text-white w-64">Sign
                                    In</button>
                            </div>
                        </form>
                    </div>
                    <!-- signup form   -->
                    <!--   create account form   -->
                    <div
                        class="w-11/12 sm:w-11/12 md:w-2/3 lg:w-1/2 p-4 bg-white absolute form active-form border-t-4 border-solid border-teal-500 shadow-2xl rounded">
                        <div class="text-2xl mb-8 text-gray-700 uppercase font-medium tracking-wide">Create New Account
                        </div>
                        <form action="#">
                            <div class="flex flex-col mb-4">

                                <label for="signup-email" class="text-gray-600 mb-2 text-xs">Email</label>
                                <div class="relative flex flex-col">
                                    <div
                                        class="absolute inset-y-0 left-0 inline-flex items-center h-8 w-8 m-auto justify-center text-teal-400">
                                        <i class="fas fa-envelope"></i></div>
                                    <input type="text" name="signup-email"
                                        class=" pl-8 outline-none border border-solid text-teal-400 focus:border-teal-400 p-2 rounded-sm" />
                                </div>
                            </div>
                            <div class="flex flex-col mb-4">
                                <label for="signup-password" class="text-gray-600 mb-2 text-xs">Password</label>
                                <div class="relative flex flex-col">
                                    <div
                                        class="absolute inset-y-0 left-0 inline-flex items-center h-8 w-8 m-auto justify-center text-teal-400">
                                        <i class="fas fa-lock"></i></div>
                                    <input type="text" name="signup-password"
                                        class="pl-8 outline-none border border-solid text-teal-400 focus:border-teal-400 p-2 rounded-sm" />
                                </div>
                            </div>
                            <div class="flex justify-center py-2">
                                <button type="submit"
                                    class="bg-teal-500 px-8 py-3 rounded text-sm text-white uppercase tracking-wide w-64">
                                    Create Account</button>
                            </div>
                        </form>
                    </div>
                    <!--   create account form   -->
                </div>
                <!--  wrapper  -->
            </div>
        </div>
    </div>
</div>