<br>
<br>
<br>
<br>
<br>
<br>
<br>

<button class="btn btn-outline-secondary" (click)="goBack()">Go back</button>
<div *ngIf="!isSubscribed">
<h2  class="text-muted" style="text-align: center;">Welcome to data-flow, click <button  class="btn btn-outline-success"  data-toggle="modal" (click)="createData()"
  data-target="#subscribe">
  Subscribe
</button> to use this service! </h2>     
</div>

<div *ngIf="isSubscribed">
  <h2  class="text-muted" style="text-align: center;">Welcome to your data-flow, {{data.username}}  </h2>
   </div>
<br>
<br>
<br>
<br>
<div class="row" style="text-align: center !important;">
  <div class="col-md-6">
    <div>
      <h4 class="text-muted" style="text-align: center;">   Your conduct summary</h4>

      <canvas
        baseChart
        [datasets]="radarChartData"
        [options]="radarChartOptions"
        [labels]="radarChartLabels"
        [chartType]="radarChartType"
      >
      </canvas>
    </div>
    <br>

    <button  class="btn btn-outline-success"  (click)="getConductSummary()">
      Calculate
    </button>
  </div>
  <div class="col-md-6">
    <div class="chart">
      <h4 class="text-muted" style="text-align: center;">  Your service using  </h4>
      <canvas
        baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend"
      >
      </canvas>
    </div>
    <br>
    <button class="btn btn-outline-success" (click)="getAverageUsing()">
      Calculate
    </button>
  </div>
</div>
<br>
<br>
<br>
<div style="display: block">
   <h4 class="text-muted" style="text-align: center;">  Your riding history in Km</h4>

  <canvas
    baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType"
  >
  </canvas>
</div>
<button class="btn btn-outline-success" (click)="getRidingHistory()">
  Calculate
</button>

 <!-- save work -->
<!-- Modal subscribe -->
<div class="modal fade" id="subscribe" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Congratulation you are subscribed to data-flow, from now on we will provide information and logs about your activities</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="reload()">Okay</button>
       </div>
    </div>
  </div>
</div>
