<p-toast position="top-right"></p-toast>
<mat-form-field [hidden]="viewOnly">
  <mat-label>Auction type</mat-label>
  <mat-select [(ngModel)]="type">
    <mat-option  value="product">
     Product
    </mat-option>
    <mat-option  value="service">
        Service
       </mat-option>
  </mat-select>
</mat-form-field>
<!-- product creation -->
<form  *ngIf="type=='product'" class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="User (disabled)" disabled [value]="username">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Category</mat-label>
        <mat-select  [(ngModel)]="product.category" name="category">
          <mat-option  value=1 >
           cat 1
          </mat-option>
          <mat-option  value=2 >
              Cat 2
             </mat-option>
        </mat-select>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input [(ngModel)]="product.name" name="prodname" [formControl]="productNameControl" matInput placeholder="Product name">
        <mat-error *ngIf="productNameControl.hasError('required')">
          Product name is  <strong>required</strong>
        </mat-error>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <textarea [(ngModel)]="product.description" [formControl]="productNameControl" name="desc" matInput placeholder="Description">Product short description</textarea>
        <mat-error *ngIf="productDescriptionControl.hasError('required')">
          Description  is  <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input matInput placeholder="Image link">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input [(ngModel)]="product.starting_bid" name="bid" type="number" [formControl]="initialBidControl" matInput #postalCode maxlength="5" placeholder="Initial bid" >
        <mat-error *ngIf="initialBidControl.hasError('required')">
          initial bid  is  <strong>required</strong>
        </mat-error>
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input [(ngModel)]="product.price" name="price" type="number" [formControl]="priceControl"  matInput #postalCode maxlength="5" placeholder="Price" >
        <mat-error *ngIf="priceControl.hasError('required')">
          Price is  <strong>required</strong>
        </mat-error>
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
  
<button mat-button (click)="saveAuction()">save</button>
  
  </form>


<!-- service creation -->
  <form  *ngIf="type=='service'" class="example-form">
    <mat-form-field  class="example-full-width">
      <input [disabled]="viewOnly" matInput placeholder="User (disabled)" disabled [value]="username">
    </mat-form-field>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Category</mat-label>
        <mat-select  [(ngModel)]="product.category" name="category">
          <mat-option  value=1 >
           cat 1
          </mat-option>
          <mat-option  value=2 >
              Cat 2
             </mat-option>
        </mat-select>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input [(ngModel)]="product.name" name="prodname" [formControl]="productNameControl" matInput placeholder="Product name">
        <mat-error *ngIf="productNameControl.hasError('required')">
          Product name is  <strong>required</strong>
        </mat-error>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <textarea [disabled]="viewOnly" [(ngModel)]="product.description" [formControl]="productDescriptionControl" name="desc" matInput placeholder="Description">Product short description</textarea>
        <mat-error *ngIf="productDescriptionControl.hasError('required')">
          Description  is  <strong>required</strong>
        </mat-error>
      </mat-form-field>

    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <input [disabled]="viewOnly" matInput placeholder="Image link">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input [disabled]="viewOnly" [(ngModel)]="product.starting_bid" name="bid" type="number" [formControl]="initialBidControl" matInput #postalCode maxlength="5" placeholder="Initial bid" >
        <mat-error *ngIf="initialBidControl.hasError('required')">
          initial bid  is  <strong>required</strong>
        </mat-error>
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <input [disabled]="viewOnly" [(ngModel)]="product.price" name="price" type="number" [formControl]="priceControl"  matInput #postalCode maxlength="5" placeholder="Price" >
        <mat-error *ngIf="priceControl.hasError('required')">
          Price is  <strong>required</strong>
        </mat-error>
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
  
<button [hidden]="viewOnly" mat-button (click)="saveAuction()">save</button>
  
  </form>


  