body {
    background-color: #e6e6e6;
}

.card {
    width: 300px;
    margin: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);

    &:hover {
        .card__caption {
            top: 50%;
            transform: translateY(-50%);
        }

        .card__image {
            transform: translateY(-10px);
        }

        .card__thumb {
            &::after {
                top: 0;
            }
        }

        .card__snippet {
            margin: 20px 0;
        }
    }

    &__thumb {
        position: relative;
        max-height: 500px;
        overflow: hidden;

        &::after {
            position: absolute;
            top: calc(100% - 140px);
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 40%, rgba(255, 255, 255, 0) 100%);
            transition: 0.3s;
        }
    }

    &__image {
        transition: 0.5s ease-in-out;
    }

    &__caption {
        position: absolute;
        top: calc(100% - 110px);
        z-index: 1;
        padding: 0 20px;
        color: white;
        text-align: center;
        transition: 0.3s;
    }

    &__title {
        display: -webkit-box;
        max-height: 85px;
        overflow: hidden;
        font-family: "Playfair Display", serif;
        font-size: 23px;
        line-height: 28px;
        text-shadow: 0px 1px 5px black;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    &__snippet {
        display: -webkit-box;
        max-height: 150px;
        margin: 60px 0;
        overflow: hidden;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 20px;
        text-overflow: ellipsis;
        transition: 0.5s ease-in-out;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
    }

    &__button {
        display: inline-block;
        padding: 10px 20px;
        color: white;
        border: 1px solid white;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            color: black;
            background-color: white;
        }
    }
}

.disclaimer {
    position: fixed;
    bottom: 0;
    left: 50%;
    box-sizing: border-box;
    width: 100%;
    padding: 20px 10px;
    background-color: white;
    transform: translateX(-50%);
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    text-align: center;

    &__link {
        color: #755d87;
        text-decoration: none;
    }
}

//** HORZIONTAL IMAGES CATEGORY

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
.body-horizon {
    margin-top: -250px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: #1abc9c;
}
.horizon-container {
    display: flex;
    overflow-x: auto;
    padding: 8px;

    &::-webkit-scrollbar {
        display: none;
    }

    .item-horizon {
        background-color: #c4c4c4;
        margin: 8px;
        transition: 0.3s all;

        &:last-of-type {
            margin-right: 8px;
        }

        .img-horizon {
            height: 100%;
            border-radius: 3px;
            cursor: pointer;
            filter: contrast(90%);
            transition: 0.3s all;

            &:hover {
                filter: contrast(100%);
            }
        }
        &:hover {
            transform: translateY(-4px);
        }
    }
}

//** HORZIONTAL IMAGES CATEGORY -- END



  //********** CAROUSELL  START** /
 
 
  button:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  
  a,
  a:hover {
    text-decoration: none;
    display: inline-block;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1300px;
    }
  }
  
  #main-carousel {
    margin-top: 20px;
    text-shadow: 1px 2px 3px #0000001f;
  }
  
  #main-carousel h5 {
    font-size: 3rem;
    font-family: inherit;
    font-weight: 300;
    -webkit-animation: leftToRight 1s ease-in-out .5s;
            animation: leftToRight 1s ease-in-out .5s;
  }
  
  #main-carousel h2 {
    font-size: 6.6rem;
    font-weight: 900;
    font-family: inherit;
    letter-spacing: 2px;
    -webkit-animation: topToBottom 1s linear .3s;
            animation: topToBottom 1s linear .3s;
  }
  
  #main-carousel .carousel-caption {
    right: 15%;
    bottom: unset;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-align: left;
  }
  
  #main-carousel .carousel-control-next,
  #main-carousel .carousel-control-prev {
    top: 50%;
    bottom: unset;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 4%;
    font-size: 3.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    -webkit-transition: 5s all;
    transition: 5s all;
  }
  
  #main-carousel .carousel-control-next {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  
  #main-carousel .carousel-control-prev {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  
  #main-carousel .btn-info {
    background: transparent;
    text-transform: uppercase;
    border: 0;
    font-family: "helveticaregular";
    font-size: 1.8rem;
    position: relative;
    padding: 20px 0 0;
    margin: 20px 0 0;
  }
  
  #main-carousel .btn-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 5px;
    background-color: #fff;
  }
  
  .home__form {
    padding: 1.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    top: -50px;
    font-size: 1.6rem;
        width: 80%;
      margin: auto;
  }
  
  .home__form h3 {
    font-size: 2.6rem;
    font-weight: bold;
  }
  
  .home__form p {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;
  }
  
  .home__form form {
    text-align: left;
  }
  
  .home__form form label {
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.7);
    font-family: "helveticaregular";
  }
  
  .home__form form .input-box {
    position: relative;
  }
  
  .home__form form .input-box .fa {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-left: 1px solid #cdcdcd;
    padding: 3px 15px 3px 10px;
    color: #898989;
  }
  
  .home__form form .input-box input {
    height: 45px;
  }
  
  .home__form form .input-box textarea,
  .home__form form .input-box input {
    border-color: #efefef;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    font-size: 1.6rem;
    padding: 10px;
    caret-color: #fc5546;
  }
  
  .home__form form .input-box textarea:focus + .fa,
  .home__form form .input-box input:focus + .fa {
    color: #fc5546;
    border-color: #fc5546;
  }
  
  .home__form form .input-box textarea:not(:placeholder-shown),
  .home__form form .input-box input:not(:placeholder-shown) {
    border-color: green;
  }
  
  .btn.btn-danger {
    width: 100%;
    height: 45px;
    font-size: 1.7rem;
    background-color: #fc5546;
    text-transform: uppercase;
    border-radius: 5px;
    border-color: transparent;
    -webkit-transition: .3s all;
    transition: .3s all;
  }
  
  .btn.btn-danger:hover {
    background: #231833;
  }
  
  .btn-more {
    font-size: 1.6rem;
    color: #000;
    font-family: "helveticaregular";
  }
  
  .btn-more span {
    border-bottom: 1px dotted #000;
  }
  
  
  @-webkit-keyframes leftToRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-80px);
              transform: translateX(-80px);
    }
    80% {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
      opacity: .7;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @keyframes leftToRight {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-80px);
              transform: translateX(-80px);
    }
    80% {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
      opacity: .7;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @-webkit-keyframes topToBottom {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
    }
    80% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
      opacity: .7;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  
  @keyframes topToBottom {
    0% {
      opacity: 0;
      -webkit-transform: translateY(-50px);
              transform: translateY(-50px);
    }
    80% {
      -webkit-transform: translateY(10px);
              transform: translateY(10px);
      opacity: .7;
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
//********* caroussel end  
.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(https://fonts.googleapis.com/css?family=Teko:700);
.snip1543 {
  background-color: #fff;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 315px;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1543:before,
.snip1543:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: #b81212;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}

.snip1543:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}

.snip1543 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}

.snip1543 figcaption:before,
.snip1543 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #b81212;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.snip1543 figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}

.snip1543 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}

.snip1543 h3,
.snip1543 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1543 h3 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.snip1543 p {
  font-size: 0.9em;
}

.snip1543 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1543:hover h3,
.snip1543.hover h3,
.snip1543:hover p,
.snip1543.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1543:hover:before,
.snip1543.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.snip1543:hover:after,
.snip1543.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}

.snip1543:hover figcaption:before,
.snip1543.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1543:hover figcaption:after,
.snip1543.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

$color: #106090;
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
.wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	div{
		width: 100%;
	}
}
h1.main-title{
	//background-color: rgba($color, .05);
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	margin: 1rem 0;
	padding:0;
	text-align: center;
	display: block;
	display: flex;
	justify-content: center;
	align-items: center;
	span{
		display: block;
		padding: 1rem;
		color: $color;
		text-transform: uppercase;		
	}
	&:before, &:after{
		content: '';
		flex: 1;
		display: block;
		width: 100%;
		border: 1px solid $color;
	}
	&.left{
		span{
			order: -1;
			padding-left:0;
		}
	}
	&.right{
		span{
			order: 1;
			padding-right:0;
		}
	}
	&.border{
		span{
			border: 2px solid $color;
		}
	}
}

