<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="assets/sidebar/css/style.css" />
<div class="row">
  <div class="col-md-3"></div>

  <div class="col-md-6">
    <mat-card *ngFor="let story of data">
     
        <div class="ui-g">

          <div class="ui-g-12 ui-md-6 ui-lg-8">
            <mat-card-header>
            <mat-card-title>Message : {{story.message}}</mat-card-title>
            <mat-card-subtitle>Envoyé le : {{story.date["timestamp"] | date  }}</mat-card-subtitle> </mat-card-header></div>
          <div class="ui-g-12 ui-md-6 ui-lg-4"><button pButton type="submit" label="Reserver" class="ui-button-raised"
            routerLink="/parkiteer/reserver"></button></div>
        </div>
     
    </mat-card>
  </div>
  <div class="col-md-3"></div>
</div>